<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/gh/dylanNew/live2d/webgl/Live2D/lib/live2d.min.js"></script>
    <script src="https://cubism.live2d.com/sdk-web/cubismcore/live2dcubismcore.min.js"></script> -->
    <script src="https://cubism.live2d.com/sdk-web/cubismcore/live2dcubismcore.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/dylanNew/live2d/webgl/Live2D/lib/live2d.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/pixi.js@5.3.6/dist/pixi.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pixi-live2d-display/dist/index.min.js"></script> -->
</head>
<body class="bg-success">
<div class="container">
    <div class="row m-2">
        <canvas id="myCanvas" class="border border-5 rounded-3 border-info"></canvas>
    </div>

    <div class="row m-2">
        <button type="button" id="expansion" class="col">モデル拡大</button>
        <button type="button" id="shrink" class="col">モデル縮小</button>
    </div>
    <div class="row m-2">
        <select class ="col" id="selectMotion">
        </select>
        <button type="button" id="startMotion" class="col">モーション再生</button>
    </div>
    <div class="row m-2">
        <select class ="col" id="selectExpression">
        </select>
        <button type="button" id="setExpression" class="col">表情をセット</button>
    </div>
    <div class="row m-2">
        <button type="button" id="speakStart" class="col">口パク</button>
        <button type="button" id="speakStop" class="col">口パク・発声やめる</button>
    </div>
    <div class="row m-2">
        <select class ="col-2" id="selectVoice">
            <!-- <option value="サンプル1">1</option>
            <option value="サンプル2">2</option>
            <option value="サンプル3">3</option>
            <option value="サンプル3" selected>4</option> -->
        </select>
        <input type ="text" id = "textBox" class ="col-9" placeholder = "AIにしゃべらせたい文字列"></input>
        <button type="button" id="voiceStart" class="col-1">発話</button>
    </div>

</div>
<script>
    //http://localhost:40080
    //http://192.168.3.10:40080
    const serverURL = "http://localhost:50021";
    const debug = true;
    const modelPath = "/Resources/Hiyori_2/Hiyori.model3.json";

    //550, 900, 0.235, 0, -20 モデル全身/
    //550, 700, 0.45, 0, 500 モデル顔中心
    //225, 350, 0.25, 0, 250
    const position = {
        boxWidth: 550,
        boxHeight: 700,
        modelScale: 0.45,
        modelX: 0,
        modelY: 500,
    };
    let indexLibrary = null;

    document.addEventListener(
        "DOMContentLoaded",
        () => {


            // indexLibrary.addEventListener("finish", () => {
            //     console.log("リスナー");
            //     console.log(myLibrary.getResult());
            // });

            // myLibrary.onload();
        },
        false
    );

    //--- cubism SDK 初期化
    window.addEventListener(
        "load",
        () => {
            console.log("ロード");
            indexLibrary = new IndexLibrary(debug,serverURL,modelPath,position);
            indexLibrary.onload();
        },
        false
    );
    //-

    window.addEventListener("beforeunload",()=>{
        console.log("アンロード");
        indexLibrary.onUnload();
    });
</script>
</body>
</html>
